<div class="h-[95vh] flex flex-wrap justify-center">
  <h3 class="text-2xl font-bold mt-4 pt-4">{{action.toUpperCase()}} FRUIT</h3>
  <div class="h-[30%] w-full bg-[#F4F4F4]"></div>
  <form [formGroup]="fruitForm" (ngSubmit)="onSubmit()" class="w-full p-2">
    <mat-form-field class="">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error
        *ngIf="fruitForm.get('name')?.touched && fruitForm.get('name')?.invalid"
      >
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Serving Size</mat-label>
      <input matInput formControlName="servingSize" required />
      <mat-error
        *ngIf="
          fruitForm.get('servingSize')?.touched &&
          fruitForm.get('servingSize')?.invalid
        "
      >
        Serving Size is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input
        matInput
        type="number"
        min="0"
        step="0.01"
        formControlName="price"
        required
      />
      <mat-error
        *ngIf="
          fruitForm.get('price')?.touched && fruitForm.get('price')?.invalid
        "
      >
        Price is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Inventory Size</mat-label>
      <input
        matInput
        type="number"
        min="0"
        step="0.01"
        formControlName="inventorySize"
        required
      />
      <mat-error
        *ngIf="
          fruitForm.get('inventorySize')?.touched &&
          fruitForm.get('inventorySize')?.invalid
        "
      >
        Inventory Size is required
      </mat-error>
    </mat-form-field>

    <div class="flex justify-end">
      <button mat-button type="submit" [disabled]="fruitForm.invalid">
        {{action.toUpperCase()}}
      </button>
    </div>
  </form>
</div>
