<div class="p-2">
    <div class="flex justify-between">
      <h4>Menu</h4>
      <mat-icon fontIcon="add" (click)="openAddFruitDialog()"></mat-icon>
    </div>
    <mat-divider class="bg-black"> </mat-divider>

    <div class="mb-20">
    <ng-container *ngFor="let fruit of cartService.cart">
      <mat-card class="mt-2 flex justify-between bg-white" (click)="openEditFruitDialog(fruit.id)">
        <img [src]="'assets/images/'+fruit.img" alt="" class="h-full w-auto" />
        <div>
          <mat-card-header>
            <mat-card-title>{{ fruit.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content> {{ fruit.servingSize }} </mat-card-content>
          <mat-card-actions>
            <span mat-button>{{ fruit.price }} EGP</span>
          </mat-card-actions>
        </div>
        <div class="flex flex-col pr-2">
          <mat-icon
            fontIcon="add"
            class="m-auto"
            (click)="$event.stopPropagation(); incrementFruitAmount(fruit.id)"
          ></mat-icon>
          <div class="text-center">{{ fruit.amount }}</div>
          <mat-icon
            fontIcon="remove"
            class="m-auto"
            (click)="$event.stopPropagation(); decrementFruitAmount(fruit.id)"
          ></mat-icon>
          <mat-icon></mat-icon>
        </div>
      </mat-card>
    </ng-container>
  </div>

    
    <div class="flex justify-between gap-2 mb-6">
      <button class="h-16 w-fit grow-[1] rounded-full px-10 text-lg bg-black text-white">
        <a [routerLink]="['/cart']"> Cart</a>
      </button>
      <button class="h-16 w-fit grow-[2] rounded-full px-10 text-lg bg-black text-white">Pay</button>
    </div>
  </div>